<!DOCTYPE html>
<html>
	<head>
	   <meta http-equiv="X-UA-Compatible" content="IE=9" />
	   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>M3iPaint 4 Symfony</title>

      <link rel="stylesheet" type="text/css" href="/bundles/m3ipaint/style/iPaint.css" />      
      <link rel="stylesheet" type="text/css" href="/bundles/m3ipaint/style/window.css" />      
      
		<style type="text/css">
		   #toolbar_close.expand{background:url(/bundles/m3ipaint/style/collapse.png);cursor:pointer;}
		   #toolbar_close.collapse{background:url(/bundles/m3ipaint/style/expand.png);cursor:pointer;}
		</style>
      <script type="text/javascript">
      function EXTEND(cls,superCls){
         cls.prototype = new superCls();
         cls.prototype.constructor = cls;
         cls.prototype.parent = superCls.prototype; 
      }
      </script>		
        <script type="text/javascript" src="/bundles/m3ipaint/src/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/bundles/m3ipaint/src/jquery.getimagedata.js"></script>
        <script type="text/javascript" src="/bundles/m3ipaint/colorPicker/jsColorPicker.js"></script>
        <script type="text/javascript" src="/bundles/m3ipaint/src/dom-drag.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/src/iPaintApp.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/src/history.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/src/Shape.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/src/Trackable.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/src/brush.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/src/rectangle.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/src/window.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/src/ImageProcessor.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/src/sliderControl.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/src/main.js"></script>
		
		
	</head>
	<body>
		{% block ipaint_frame %}
	   	
	   	{% endblock %}
	</body>
</html>



