<!DOCTYPE html>
<html>
	<head>
	   <meta http-equiv="X-UA-Compatible" content="IE=9" />
	   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>M3iPaint 4 Symfony</title>

      <link rel="stylesheet" type="text/css" href="/bundles/m3ipaint/iPaint/style/iPaint.css" />      
      <link rel="stylesheet" type="text/css" href="/bundles/m3ipaint/iPaint/style/window.css" />      
      
		<style type="text/css">
		   #toolbar_close.expand{background:url(/bundles/m3ipaint/iPaint/style/collapse.png);cursor:pointer;}
		   #toolbar_close.collapse{background:url(/bundles/m3ipaint/iPaint/style/expand.png);cursor:pointer;}
		</style>
      <script type="text/javascript">
      function EXTEND(cls,superCls){
         cls.prototype = new superCls();
         cls.prototype.constructor = cls;
         cls.prototype.parent = superCls.prototype; 
      }
      </script>		
        <!--
            Change the google api key based on your domain so that you can search online image 
            using google search engine.
            
            Added by Yubo on 9/21/2011
        -->
        <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAFdxLwjTbVerV8hz73P9GWRS2L7evLMGoPVmRVJJ45ieHtfHZTBQU0CUMZYOc7yhgnQdjoWC2VonO-A"></script>
        <script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/jquery.getimagedata.js"></script>
        <script type="text/javascript" src="/bundles/m3ipaint/iPaint/colorPicker/jsColorPicker.js"></script>
        <script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/dom-drag.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/iPaintApp.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/history.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/Shape.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/Trackable.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/brush.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/rectangle.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/window.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/ImageProcessor.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/sliderControl.js"></script>
		<script type="text/javascript" src="/bundles/m3ipaint/iPaint/src/main.js"></script>
		

      <script type="text/javascript">
      /*
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-6883753-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      */
      </script>
		
	</head>
	<body>
		{% block ipaint_frame %}
	   	
	   	{% endblock %}
	</body>
</html>



